@{
    ViewData["Title"] = "Configurations";
}

<a href="https://github.com/qinezh/Microsoft.Extensions.Configuration.AzureBlob">
    <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
</a>

<h2>@ViewData["Title"]</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        @{
            var config = ViewData["config"] as Dictionary<string, string>;
            foreach (var (key, value) in config)
            {
                <tr>
                    <td>@key</td>
                    <td>@value</td>
                </tr>
            }
        }
    </tbody>
</table>
